@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BillsList</h1>
    <p class="lead">BillsList is a free online classified advertisement site.</p>
    <p><a href="/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>View the latest sale listing across the entire site or by categories.</p>
        <p><a class="btn btn-default" href="/items">View listings &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create a listing</h2>
        <p>Got something to sell? You can sell it on BillsList. Just click the create listing button below to get started.</p>
        <p><a class="btn btn-default" href="/items/create">Create listing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My listings</h2>
        <p>Already have an active listing? View all of your listing using the my listings button below.</p>
        <p><a class="btn btn-default" href="/items/my">My listings &raquo;</a></p>
    </div>
</div>